.stage-container {
    overflow: visible;
    display: flex;
    width: 100%
}

.stage-group {
    overflow: visible;
    display: flex;
    gap: 0;
    max-width: 100%;
    max-height: 100%;
    flex: 1;
}

.stage-button {
    background-color: rgb(209, 209, 209);
    color: black;
    width: 100%;
    height: fit-content;
    max-width: 100%;
    box-sizing: border-box;
}

.stage-button > button {
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.stage-group:has(.stage-button:nth-child(2)) .stage-button {
    clip-path: polygon(calc(100% - 10px) 0%, calc(100% - 10px) 1%, calc(100% - 9.5px) 1%, calc(100% - .5px) 45%, 100% 50%, calc(100% - .5px) 55%, calc(100% - 9.5px) 99%, calc(100% - 10px) 99%, calc(100% - 10px) 100%, 3px 100%, 3px 93%, 9px 65%, 11.5px 50%, 9px 35%, 3px 7%, 3px 0%);
    padding-left: .5vw;
    margin-left: -7px;
}

.stage-group:has(.stage-button:nth-child(2)) .stage-button:first-child {
    clip-path: polygon(0% 0%, calc(100% - 10px) 0%, calc(100% - 10px) 1%, calc(100% - 9.5px) 1%, calc(100% - .5px) 45%, 100% 50%, calc(100% - .5px) 55%, calc(100% - 9.5px) 99%, calc(100% - 10px) 99%, calc(100% - 10px) 100%, 0% 100%);
    margin-left: 0;
}

.stage-group:has(.stage-button:nth-child(2)) .stage-button:last-child {
    clip-path: polygon(100% 0%, 100% 100%, 3px 100%, 3px 93%, 9px 65%, 11.5px 50%, 9px 35%, 3px 7%, 3px 0%);
}

.stage-button > button {
    border: 0;
    border-radius: 0;
    background-color: unset;
    color: unset;
}

// hover

.stage-button.stage-color-primary.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--primary-rgb));
    border-color: rgb(var(--primary-rgb));
}

.stage-button.stage-color-secondary.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--secondary-rgb));
    border-color: rgb(var(--secondary-rgb));
}

.stage-button.stage-color-info.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--info-rgb));
    border-color: rgb(var(--info-rgb));
}

.stage-button.stage-color-success.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--success-rgb));
    border-color: rgb(var(--success-rgb));
}

.stage-button.stage-color-warning.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--warning-rgb));
    border-color: rgb(var(--warning-rgb));
}

.stage-button.stage-color-danger.stage-hover:not(.stage-selected) {
    color: #fff;
    background-color: rgb(var(--danger-rgb));
    border-color: rgb(var(--danger-rgb));
}
// end hover

// color
.stage-button.stage-color-primary.stage-selected {
    background-color: rgb(var(--primary-rgb));
    color: white;
}

.stage-button.stage-color-secondary.stage-selected {
    background-color: rgb(var(--secondary-rgb));
    color: white;
}

.stage-button.stage-color-info.stage-selected {
    background-color: rgb(var(--info-rgb));
    color: white;
}

.stage-button.stage-color-success.stage-selected {
    background-color: rgb(var(--success-rgb));
    color: white;
}

.stage-button.stage-color-warning.stage-selected {
    background-color: rgb(var(--warning-rgb));
    color: black;
}

.stage-button.stage-color-danger.stage-selected {
    background-color: rgb(var(--danger-rgb));
    color: white;
}
// end color


.stage-button.stage-active:not(.stage-button-dropdown), .stage-button.stage-disabled {
    cursor: not-allowed;
}

.stage-button.stage-active:not(.stage-button-dropdown) *, .stage-button.stage-disabled * {
    pointer-events: none;
}

.stage-container .dropdown-menu .dropdown-item.active {
    cursor: not-allowed;
}

.stage-text {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: start;
}

.stage-text-arrow {
    height: 16px;
    width: 16px;
    display: flex;
    min-width: 8px;
    flex-shrink: 0;
}