@import "bootstrap/scss/bootstrap";
@import "./layouts/styles.scss";
@import "./layouts/icons.scss";
@import "node-waves/src/scss/waves.scss";
@import "simplebar/dist/simplebar.min.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";
@import "select2/dist/css/select2.min.css";
@import "sweetalert2/src/sweetalert2.scss";
@import "dropzone/dist/dropzone.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import 'dropzone/dist/dropzone.css';
@import "./solaris/table.scss";
@import "./solaris/stage-buttons.scss";
@import "./solaris/profile-picture.scss";

.form-control.is-invalid+a.show-password-button, .form-control.is-valid+a.show-password-button {
    padding-right: 2rem !important;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: var(--default-font-family) !important;
}

select.form-select.is-invalid + span.select2-container .selection .select2-selection .select2-selection__rendered {
    border-color: var(--bs-form-invalid-border-color) !important;
}

select.form-select.is-valid + span.select2-container .selection .select2-selection .select2-selection__rendered {
    border-color: var(--bs-form-valid-border-color) !important;
}

.disabled {
    cursor: not-allowed;
}

.dropzone {
    min-height: 100px !important;
}

.animated-arrow.hor-toggle {
    height: 2rem;
}